.Player-section{
    width: 100%;
    height: 100%;
    // background-color: red;
    .team-name{
        justify-content: space-between;
        display: flex;
        height: 25px;
        align-items: center;
        .team-a{
            // height: 20px;
            // width: 140px;
            background-color: #fff;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 10px;
            border-radius: 10px;
            color: #000;
            font-size: 13px;
            text-align: center;
        }
        .team-b{
            // height: 20px;
            background-color: #fff;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 10px;
            border-radius: 10px;
            color: #000;
            font-size: 13px;
            text-align: center;

        }
    }
    .team-Player{
        justify-content: space-between;
        display: flex;
        margin-top: 40px;
        // height: 25px;
        align-items: flex-start;
        .home-team {
            display: flex;
            // padding: 20px;
            // margin-left: 20px;
            flex-direction: column;
            width: 45%;
            gap: 10px;
            .player-details {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 20px;
              img {
                width: 40px;
              }
              p {
                // font-weight: 600;
                color: #fff;
                text-align: start;
                opacity: 0.8;
              }
            }
          }
          .away-team {
            display: flex;
            flex-direction: column;
            width: 45%;
            gap: 10px;
            .player-details {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 20px;
              img {
                width: 40px;
              }
              p {
                // font-weight: 100;
                color: #fff;
                text-align: end;
                opacity: 0.8;
              }
            }
          }
    }
}