.main-container {
  padding: 10px 55px 10px 55px;
  background-color: #000;

  .fillter-container {
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: -80px;
    flex-direction: row;
    gap: 15px;
    display: flex;
    grid: 0%;
  }

  .button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    width: fit-content;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    width: 90px;
  }

  .button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }

  .bottomm-section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    // background-color: yellow;
    .first-section {
      width: 23%;
      //    background-color:grey;
      //    height: 600px;
      border-radius: 10px;
      justify-content: center;
      display: flex;
      color: #fff;
    }

    .middle-section {
      width: 50%;
      // background-color:grey;
      border-radius: 10px;
      justify-content: center;
      display: flex;
      color: #fff;
      flex-direction: column;
      align-items: center;

      .latest-news {
        color: #fff;
        font-size: 30px;
        margin-bottom: 30px;
      }

      .news-image {
        // height: 450px;
        width: 100%;
        object-fit: cover;
        border-radius: 3%;
      }

      .match-description {
        margin-top: 30px;
       .news-description{
         font-size: 28px;
       }
      }

      .match-ref {
        margin-top: 25px;
        margin-bottom: 30px;
        .ref-title{
          color: grey;
          font-size: 15px;
        }
      }
    }

    .last-section {
      width: 23%;
      //    background-color:grey;
      border-radius: 10px;
      justify-content: center;
      display: flex;
      color: #fff;
    }
  }
}

@media (max-width: 1024px) {
  .main-container {
    .fillter-container {
      // background-color: red;
      margin-top: 125px;
      width: 50%;
    }
  }
}