.main-container {
  padding: 10px 55px 10px 55px;
  background-color: #000;

  .fillter-container {
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: -80px;
    flex-direction: row;
    gap: 15px;
    display: flex;
    grid: 0%;
    width: 100%;
  }

  .button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    width: fit-content;
    color: #fff;
    border: 1px solid #fff;
    width: 90px;
  }

  .button:hover {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #fff;
  }

  .bottomm-section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .first-section {
      width: 23%;
      border-radius: 10px;
      justify-content: center;
      display: flex;
      color: #fff;
    }

    .news-section {
      width: 50%;
      border-radius: 10px;
      justify-content: center;
      display: flex;
      color: #fff;
      flex-direction: column;
      align-items: center;

      .latest-news {
        color: #fff;
        font-size: 30px;
        margin-bottom: 30px;
      }

      .news-image {
        width: 100%;
        object-fit: cover;
        border-radius: 3%;
      }

      .match-description {
        margin-top: 30px;

        .news-description {
          font-size: 28px;
        }
      }

      .match-ref {
        margin-top: 25px;
        margin-bottom: 30px;

        .ref-title {
          color: grey;
          font-size: 15px;
        }
      }
    }

    .last-section {
      width: 23%;
      border-radius: 10px;
      justify-content: center;
      display: flex;
      color: #fff;
    }
  }
}

@media (max-width: 1024px) {
  .main-container {
    .fillter-container {
      margin-top: 125px;
      width: 50%;
    }
    .bottomm-section {
      .first-section {
        display: none;
      }
      flex-direction: column;
      display: flex;
      align-items: center;
      .news-section {
        .latest-news {
          font-size: 26px;
        }
        width: 100%;
        .match-description {
          .news-description {
            font-size: 21px;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .main-container {
    padding: 2px 30px 2px 30px;
    .bottomm-section{
      padding: 0;
    }
    .fillter-container {
      justify-content: center;
      width: 100%;
      margin-left: -1px;
    }
    .news-section {
      width: 100%;
    }
  }
}
