.MatchDetailsData {
  justify-content: center;
  display: flex;
  // height: 1660px;
  .main-details {
    background-color: #000;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    // border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    // padding: 0 10px 0 10px;
    // color: pink;
    .matchinfo-page {
      // background-color: red;
      width: 100%;
      padding: 30px;
      .data-section {
        // background-color: yellow;
        flex-direction: row;
        display: flex;
        gap: 50px;
        margin-bottom: 40px;
        color: #fff;
        font-weight: 500;
        font-size: 17px;
        .match-option {
          // background-color: red;
          width: 120px;
        }
        .matchinfo-title {
          font-size: 30px;
        }
        .matchinfo-data {
          font-weight: 100;
          color: aliceblue;
        }
      }
    }
    .Scorecard-page {
      width: 100%;
      .team-option {
        padding: 10px;
        .team-a {
          //  background-color:pink;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          margin-bottom:10px;
          color: #fff;
        }
        .team-b {
          // background-color:red;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          color: #fff;
        }
        .score-head {
          flex-direction: row;
          width: 100%;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          background-color: grey;
          align-items: center;
          color: white;
          .score-header {
            // background-color: green;
            flex-direction: row;
            display: flex;
            width: 26%;
            //  gap: 80px;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            color: #fff;
          }
        }
      }
      .scored-section {
        // background-color: pink;
        padding-top: 10px;
        .player-image {
          // background-color: yellow;
          flex-direction: row;
          display: flex;
          // gap: 10px;
          width: 100%;
          align-items: center;
          padding-top: 10px;
          color: white;
          .player-name {
            width: 45%;
            // padding: 10px;
            // justify-content: space-between;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline;
            // background-color:red;
            display: flex;
            align-items: center;
            // text-align: end;
            color: white;
            gap: 10px;
            .player {
              // background-color:pink;
              gap: 20px;
              .status-out {
                //  background-color:green;
                font-size: 14px;
                color: grey;
                margin-top: 5px;
              }
            }
          }
          .scored{
          //  background-color:red;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            justify-content: space-between;
            width: 67%;
            color: white;
            .runs{
              width: 20px;
            }
          }
        }
        .line{
          height:1px;
          width: 100%;
          // border: 1px solid 'red';
          margin-top: 10px;
          opacity: 0.4;
          background-color: #000
        }
        .score-info{
          // background-color: green;
          margin-top:25px;
          .run-score{
            color: white;
            // background-color:red;
            padding-top:10px;
          }
          .fall-wickets{
            // background-color:yellow;
            display:flex;
            align-items:center;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #fff;
            .icon{
              margin-left:10px
            }
          }
          .wickets-records{
            .wickets-rec{
               padding-top:10px;
               color: #fff
            }
          }
        }
        .cursor-pointer {
          height: 50px;
          // width: 50px;
          object-fit: contain;
          // mix-blend-mode: multiply;
          aspect-ratio: 2/2;
          // background-color: green;
        }
      }
    }
    .Player-page {
      width: 100%;
      padding: 40px;
    }
  }
}

@media (max-width: 1024px) {
  .MatchDetailsData {
    .main-details {
      width: 60%;
    }
  }
}

@media (max-width: 850px) {
  .MatchDetailsData {
    .main-details {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .MatchDetailsData {
    .main-details {
      width: 100%;
      .matchinfo-page {
        padding: 15px;
        .data-section {
          justify-content: space-between;
          // background-color: red;
          word-break: break-all;
          text-align: end;
          .match-option {
            text-align: left;
          }
        }
      }
    }
  }
}
