.MatchDetailsData {
  justify-content: center;
  display: flex;
  //   height: 110vh;
  .main-details {
    background-color: #1d1e1f;
    width: 50%;
    justify-content: space-between;
    display: flex;
    padding: 0 10px 0 10px;
    color: pink;
  }
}

@media (max-width: 1024px) {
  .MatchDetailsData {
    .main-details {
      width: 60%;
    }
  }
}

@media (max-width: 850px) {
  .MatchDetailsData {
    .main-details {
      width: 75%;
    }
  }
}

@media (max-width: 480px) {
  .MatchDetailsData {
    .main-details {
      width: 90%;
    }
  }
}
