.matchdetails {
  margin-top: 69px;
  position: absolute;
  width: 100%;
  flex-direction: column;
  background-color: #000;
  display: flex;
  // align-items: center;

  @media (max-width: 1024px) {
    margin-top: 69px;
  }

  .match-header-details {
    height: 270px;
    width: 100%;
    justify-content: center;
    display: flex;

    .match-data {
      width: 50%;

      .match-type {
        height: 20%;
        align-items: center;
        display: flex;
        justify-content: center;
        color: #ffff;
      }

      .match-details-section {
        height: 65%;

        .match-middle {
          width: 100%;
          margin: auto;
          height: 100%;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
        }

        .preview-match {
          width: 100%;
          margin: auto;
          height: 100%;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          // background-color: yellow;
          align-items: center;
        }

        .left-team {
          .top-view {
            flex-direction: row;
            display: flex;
            align-items: center;
          }

          .hometeam-logo {
            height: 70px;
            // width: 100%;
            border-radius: 5px;
            margin-right: 10px;
          }

          .team-name {
            color: #fff;
          }

          .scored-section-team-a {
            margin: 20px auto;
            color: #fff;

            .scored {
              flex-direction: row;
              display: flex;
              padding: 5px 0 5px 0;
              font-size: 25px;
            }

            .over-text {
              margin-top: 5px;
              color: grey;
              font-size: 20px;
            }
          }
        }

        .right-team {
          .top-view {
            flex-direction: row;
            display: flex;
            align-items: center;
          }

          .hometeam-logo {
            height: 70px;
            // width: 100%;
            border-radius: 5px;
          }

          .team-name {
            text-align: end;
            color: #fff;
            margin-right: 10px;
          }

          .scored-section-team-b {
            margin: 20px auto;
            color: #fff;
            text-align: end;

            .scored {
              flex-direction: row;
              display: flex;
              text-align: end;
              justify-content: flex-end;
              padding: 5px 0 5px 0;
              font-size: 25px;
            }

            .over-text {
              margin-top: 5px;
              color: grey;
              font-size: 20px;
            }
          }
        }
      }
      .result-text {
        text-align: center;
      }

      .middle {
        display: flex;
        align-items: center;
        justify-content: center;

        .middle-line {
          position: absolute;
          height: 120px;
          width: 1px;
          background-color: grey;
        }

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background-color: #fff;
          color: #000;
          font-size: 13px;
          font-weight: 700;
          z-index: 1000;
        }
      }

      .result-text {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 15%;
        color: #fff;
      }
    }
  }
  .options {
    background-color: #1d1e1f;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    // padding: 0 10px 0 10px;
    height: 45px;
    flex-direction: row;
    // color: #fff;
    border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    
    .MatchInfo {
      color: #fff;
      height: 100%;
      width: 260px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      display: flex;
    
    }
    .MatchInfo-select{
      color: #fff;
      height: 100%;
      width: 260px;
      cursor: pointer;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      justify-content: center;
      display: flex;
      background-color: #000;
    }
    .MatchInfo:hover {
      background-color: #000;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .Scorecard {
      color: #fff;
      cursor: pointer;
      height: 100%;
      width: 260px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .Scorecard-select{
      color: #fff;
      height: 100%;
      width: 260px;
      cursor: pointer;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      justify-content: center;
      display: flex;
      background-color: #000;
    }
    .Scorecard:hover {
      background-color: #000;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
   }
    .Commentry {
      color: #fff;
      cursor: pointer;
      height: 100%;
      width: 260px;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      justify-content: center;
      display: flex;
    }
    .Commentry-select{
      color: #fff;
      height: 100%;
      width: 260px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      background-color: #000;
    }
    .Commentry:hover {
      background-color: #000;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
   }
    .Player {
      color: #fff;
      cursor: pointer;
      height: 100%;
      width: 260px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .Player-select{
      color: #fff;
      height: 100%;
      width: 260px;
      cursor: pointer;
      align-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      justify-content: center;
      display: flex;
      background-color: #000;
    }
    .Player:hover {
      background-color: #000;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
   }
  }
}

@media (max-width: 1024px) {
  .matchdetails {
    .match-header-details {
      .match-data {
        width: 60%;
      }
    }
    .options {
      width: 60%;
    }
  }
}

@media (max-width: 850px) {
  .matchdetails {
    .match-header-details {
      height: 250px;

      .match-data {
        width: 75%;

        .match-type {
          height: 25%;
          align-items: center;
          display: flex;
          justify-content: center;
          color: #ffff;
        }

        .match-details-section {
          height: 60%;

          .left-team {
            .hometeam-logo {
              height: 50px;
              width: 90px;
              border-radius: 5px;
              margin-right: 10px;
            }

            .scored-section-team-a {
              .scored {
                padding: 0;
                font-size: 20px;
              }

              .over-text {
                color: #fff;
                font-size: 17px;
                color: grey;
              }
            }
          }

          .right-team {
            .hometeam-logo {
              height: 50px;
              width: 90px;
              border-radius: 5px;
            }

            .scored-section-team-b {
              .scored {
                padding: 0;
                font-size: 20px;
              }

              .over-text {
                margin-top: 5px;
                color: grey;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
    .options {
      width: 75%;
    }
  }
}

@media (max-width: 480px) {
  .matchdetails {
    .match-header-details {
      height: 230px;

      .match-data {
        width: 90%;

        .match-type {
          height: 25%;
          align-items: center;
          display: flex;
          justify-content: center;
          color: #ffff;
        }

        .match-details-section {
          height: 60%;

          .left-team {
            .hometeam-logo {
              height: 40px;
              width: 70px;
              border-radius: 5px;
              margin-right: 10px;
            }

            .scored-section-team-a {
              .scored {
                padding: 0;
                font-size: 20px;
              }

              .over-text {
                color: #fff;
                font-size: 17px;
                color: grey;
              }
            }
          }

          .right-team {
            .hometeam-logo {
              height: 40px;
              width: 70px;
              border-radius: 5px;
            }

            .scored-section-team-b {
              .scored {
                padding: 0;
                font-size: 20px;
              }

              .over-text {
                margin-top: 5px;
                color: grey;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
    .options {
      width: 100%;
    }
  }
}
